name: Vulnerable Pipeline
on:
  pull_request_target:
    types: [opened, synchronize]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout PR code
        uses: actions/checkout@v3
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      
      - name: Run build script
        run: |
          chmod +x ./build.sh
          ./build.sh
        env:
          DEMO_SECRET: ${{ secrets.DEMO_SECRET }}
